<% cache text_post do %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<%= text_post.title %>
			</h3>
			<%= link_to("#{time_ago_in_words text_post.created_at} ago", post_path(text_post)) %>
		</div>
		<div class="panel-body">

			<%# links to the user's profile %>
			<p><em><%= link_to text_post.user.screenname, text_post.user %>:</em></p>
			<%= sanitize text_post.body %>

			<p><%= pluralize text_post.cached_comment_count, "Comment" %></p>
			
		</div>
	</div>
<% end %>

<%# link to edit %>
<% if text_post.user == current_user %>
	<%= link_to 'Edit', edit_text_post_path(text_post), class: "btn btn-default" %>
<% end %>

<%# link to delete %>
<% if text_post.user == current_user %>
	<%= link_to 'Destroy', text_post_path(text_post), method: :delete, class: "btn btn-default" %>
	<p></p>
<% end %>